---
import ChhatreshKhatri from "../assets/ChhatreshKhatri.astro";
---

<footer
  class="flex flex-col lg:flex-row justify-between items-center w-full shadow-top bg-navbarBg dark:bg-darker py-2 px-3 xs:px-6 md:px-12 lg:px-20 mt-auto space-y-0.5 bottom-0">
  <div class="flex justify-center items-center" title="Chhatresh Khatri">
    <ChhatreshKhatri className={`flex`} alt="Chhatresh Khatri Logo" />
  </div>
  <div class="flex items-center justify-center text-center">
    <p>&copy; <strong>Chhatresh Khatri 2023</strong>&nbsp;</p>
  </div>
  <a href="/privacy-policy">Privacy Policy</a>
</footer>
