---
import GitHub from "../assets/GitHubIcon.astro";
import Gmail from "../assets/GmailIcon.astro";
import LinkedIn from "../assets/LinkedIn.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<a
  title="GitHub"
  href="https://github.com/Chhatreshkhatri"
  target="_blank"
  rel="noopener noreferrer"
  class="flex align-center justify-center transform transition-transform duration-300 hover:scale-110 w-8">
  <GitHub class="w-8" />
</a>
<a
  title="LinkedIn"
  href="https://www.linkedin.com/in/chhatreshkhatri"
  target="_blank"
  rel="noopener noreferrer"
  class="flex align-center justify-center transform transition-transform duration-300 hover:scale-110 w-8">
  <LinkedIn class="w-8" />
</a>
<a
  title="Mail"
  href="mailto:contact@chhatreshkhatri.com"
  target="_blank"
  rel="noopener noreferrer"
  class="flex align-center justify-center transform transition-transform duration-300 hover:scale-110 w-8">
  <Gmail class="w-8" />
</a>
<ThemeSwitcher />
