---
import GitHub from "../assets/GitHub.astro";
import Gmail from "../assets/Gmail.astro";
import LinkedIn from "../assets/LinkedIn.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<a
  href="https://github.com/Chhatreshkhatri"
  target="_blank"
  rel="noopener noreferrer"
  class="flex align-center justify-center transform transition-transform duration-300 hover:scale-110 w-8">
  <GitHub title="GitHub" class="w-8" />
</a>
<a
  href="https://www.linkedin.com/in/chhatreshkhatri"
  target="_blank"
  rel="noopener noreferrer"
  class="flex align-center justify-center transform transition-transform duration-300 hover:scale-110 w-8">
  <LinkedIn title="LinkedIn" class="w-8" />
</a>
<a href="mailto:contact@chhatreshkhatri.com" class="flex align-center justify-center transform transition-transform duration-300 hover:scale-110 w-8">
  <Gmail title="Mail" class="w-8" />
</a>
<ThemeSwitcher />

