---
import GitHub from "../assets/icons/GitHubIcon.astro";
import Gmail from "../assets/icons/GmailIcon.astro";
import LinkedIn from "../assets/icons/LinkedIn.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div class="flex items-center justify-center py-1 lg:py-0 gap-x-5">
  <a title="GitHub" aria-label="GitHub Link" href="https://github.com/Chhatreshkhatri" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center hover-scale w-8 cursor-pointer">
    <GitHub class="w-8" />
  </a>
  <a title="LinkedIn" aria-label="LinkedIn Link" href="https://www.linkedin.com/in/chhatreshkhatri" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center hover-scale w-8 cursor-pointer">
    <LinkedIn class="w-8" />
  </a>
  <a title="Mail" aria-label="Mail Link" href="mailto:ck@chhatreshkhatri.com" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center hover-scale w-8 cursor-pointer">
    <Gmail class="w-8" />
  </a>
  <ThemeSwitcher />
</div>
