---
const { page, link, ID } = Astro.props;
---

<a aria-label={page} href={link} class="relative flex items-center justify-center group">
  {page}
  <span
    id={ID}
    class={`absolute h-0.5 bg-gradient-to-r from-blue1 to-yellow1 -bottom-0.5 group-hover:w-full transition-[width] ease duration-500 w-0`}>
  </span>
</a>
