---
import MoonIcon from "../assets/icons/MoonIcon.astro";
import SunIcon from "../assets/icons/SunIcon.astro";
---

<button aria-label="Toggle Mode" class="flex align-center justify-center cursor-pointer transform transition-transform duration-300 hover:scale-110 w-8">
  <span title="Dark Theme" class="sun hidden">
    <SunIcon class="w-8" />
  </span>
  <span title="Light Theme" class="moon hidden">
    <MoonIcon class="w-8" />
  </span>
</button>

<script is:inline>
  // Detect system preference change
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (event) => {
    setTheme(event.matches ? "dark" : "light");
  });

  // Set theme
  function setTheme(newTheme) {
    localStorage.setItem("theme", newTheme);
    document.documentElement.classList.remove("dark", "light");
    document.documentElement.classList.add(newTheme);
    document.querySelector('button[aria-label="Toggle Mode"] .sun').classList.toggle("hidden", newTheme !== "dark");
    document.querySelector('button[aria-label="Toggle Mode"] .moon').classList.toggle("hidden", newTheme !== "light");
  }

  // Toggle theme
  function toggleTheme() {
    const currentTheme = localStorage.getItem("theme");
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    setTheme(newTheme);
  }

  // Detect system preference
  if (!localStorage.getItem("theme")) {
    let isDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    setTheme(isDark ? "dark" : "light");
  }

  // Set initial theme
  setTheme(localStorage.getItem("theme"));

  // Add event listener
  document.querySelector('button[aria-label="Toggle Mode"]').addEventListener("click", toggleTheme);
  document.addEventListener("astro:after-swap", () => setTheme(localStorage.getItem("theme")));
</script>
